a.wangguard-domain , a.wangguard-splogger {
	color: #BC0B0B
}

a.wangguard-recheck {

}

.wangguard-status-splogguer {
	color: #BC0B0B;
	font-weight:bold;
}

.wangguard-status-error {
	color: #BC0B0B;
	font-weight:normal;
}

.wangguard-delete-question {
	color: #BC0B0B;
	font-weight:normal;
	font-size: 11px;
	text-decoration: none;
}

.wangguard-status-checked {
	color: #00a000;
}

.wangguard-status-not-checked {
	color: #d54e21;
}

.wangguard-status-no-status {
	color: #d54e21;
}

#wangguard-questions {
	border-top: 1px solid #cFcFcF;
	border-bottom: 1px solid #cFcFcF;
}
.wangguard-question {
	padding: 10px 0;
	margin-top: 10px;
	border-top: 1px solid #cFcFcF;
}

#wangguardnewquestionerror {
	margin: 15px 0;
	padding: 10px;
	font-size: 11px;
	color: #BC0B0B;
	border: 1px solid #BC0B0B;
	display: none;
}

.wangguard-sep {
	border-bottom: 1px solid #cFcFcF;
}

#wangguard-bp-register-form {
	float: right;
	width: 48%;
}

.wangguard-mu-register-field {
	font-size:24px;
	margin:5px 0;
	width:100%;
}

.wpreg-wangguardquestansw {
	background:#FBFBFB none repeat scroll 0 0;
	border:1px solid #E5E5E5;
	font-size:24px;
	margin-bottom:16px;
	margin-right:6px;
	margin-top:2px;
	padding:3px;
	width:97%;
}
